<!DOCTYPE html>
<html lang="en" data-ng-app="">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>测试：Angular表达式中执行各种运算</h1>
    <h2>算术运算</h2>
    <div ng-init="age=20"></div>
    <p ng-bind="age+5"></p>
    <p class="ng-bind:'用户的年龄为：'+age*2;"><img src="img/loading.gif"></p>
    <p>{{ {ename:'Mary',age:29}.age }}</p>
    <span ng-init="emp={ename:'vol',age:43}"></span>
    <p>
        {{emp.age}}
    </p>
    <h2>使用数组</h2>
    {{[10,20,30][2] }}
    <span ng-init="arr=[10,20,30,40]"></span>
    <p>
        {{ arr.length}}

        {{ new Object() }}
    </p>
</div>
<script src="js/angular.js"></script>
</body>
</html>